<div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
        <mat-icon (click)="snav.toggle()">menu</mat-icon>
        <h1>Admin Panel App</h1>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav class="sidenav" #snav (opened)="isMenuOpened = true" (closed)="isMenuOpened = false"
            [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list class="list">
                <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">
                    <mat-icon>{{nav.icon}}</mat-icon>
                    <span>{{nav.text}}</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="sidenav-content"
            [style.justify-content]="mobileQuery.matches ? 'center': 'flex-start'"
            [style.width]="isMenuOpened && !mobileQuery.matches? 'calc(100% - 200px)' : '100%'">
            <mat-card class="card">
                <canvas baseChart width="100%" height="100%" [data]="lineChartData" [options]="lineChartOptions"
                    [type]="lineChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
            </mat-card>
            <mat-card class="card">
                <canvas baseChart width="100%" height="100%" [data]="doughnutChartData"
                    [type]="doughnutChartType"></canvas>
            </mat-card>
            <mat-card class="card">
                <canvas baseChart width="100%" height="100%" [data]="radarChartData" [options]="radarChartOptions"
                    [type]="radarChartType"></canvas>
            </mat-card>
            <mat-card class="card">
                <canvas baseChart width="100%" height="100%" [data]="polarAreaChartData" [legend]="polarAreaLegend"
                    [type]="polarAreaChartType">
                </canvas>
            </mat-card>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>